.it-h1{
    text-align: center;
    margin-left: 50px;
    margin-bottom: 12px;

}
.outer{
    margin: 2px; 
}
.center-box{
    display: flex;
}
.it-img{
    margin-left: 90px;
    width: 377px;
    border-radius: 5%;
    color: black;
    text-align: center;
    justify-content: center;

}

.it-img-img{
    height: 500px;
    border: 3px solid white;
    border-radius: 5%;
    box-sizing: border-box;
}

.i-img{
    margin-bottom: 0%;
    max-height: 100px;

}

.i-text{
    margin-left: 80px;
    margin-right: 0;
    height: 10;
    max-width: 620px;
    font-size: larger;
}

.title{
    font-size: larger;
}

.it-price{
    font-family: 'Lora', serif;
    border-radius: 5%;
    margin-left: 130px;
    color: black;
    text-align: right;
    justify-content: right;
    max-height: 370px;
    max-width: 600px;
    border: 2px solid white;
}
.div-it-image{
    background-color:rgba(26, 25, 25, 0.897);
    padding: 10px;
    width: 120px;
}

.div-img{
    width: 100px;
    padding: 5px;
    border: 1px ;
    border-radius: 5%;
}

.it-main{
    display: flex;
}

.start{
    height: 35px;
    margin-top: 12px;
}

.sb-i-text{
    width: 300px;
}

.price-title{
    text-align: left;
    padding: 15px;
    border-radius: 5%;
    color:white;
}

.dd{
    color: aqua;
}

.quantity-selector{
    text-align: center;
}

.div-about{
    font-family: 'Lora', serif;
}

.it-price-price{
    font-size: 32px;
    margin-bottom: 0;
    
}

.it-price-delivery{
    border: 0;


}

.it-about{
    font-size: 150%;
    margin-bottom: 0;
    margin-top: 0;

}

.it-title{
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
  
}

.text-list{
    list-style-type: disc;

}

.it-price{
    font-size: larger;
}

.it-cart{
    text-align: center;
    justify-content: center;
    margin-top: 6px;
    background-color:#FCD200;
    font-size: large;
    color: rgb(0, 0, 0);
    border:0;
    border-radius: 12px;
}
.it-cart:hover{
    text-align: center;
    justify-content: center;
    margin-top: 6px;
    background-color:#FCD200;
    font-size: large;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 12px;
}

.order-a{
    color: black;
}
.stock{
    color: rgba(22, 216, 22, 0.904);
    margin-left: 25px;
}
.nav-text{
    margin-top: 12px;
}