body{
    background-color: rgb(41, 44, 44);
    color: white                ;
    margin: 3px;
    padding: 0;
    /*font-family: 'Playfair Display SC', serif;
font-family: 'Poppins', sans-serif;*/
font-family: 'Nunito Sans', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Poppins', sans-serif;
}
.logo{
    height: 45px;
    border-radius: 50%;
    margin-left: 2px;

}
.logo-img{
    height: 50%;
}

.all-items{
    background-color:rgba(26, 25, 25, 0.897);
    height: 45px;
    text-align:center;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*max-width: 1200px; */
    margin: 0 auto;
}
ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 27px; 
}

header {
    background-color: #0a0a0a;
    color: #fff;
    padding: 0px 0;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*max-width: 1200px;*/
    margin: 0 auto;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a .a {
    text-decoration: none;
    color: #fff;
}

/* Style the product listings */

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


h1{
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size-adjust: auto;
    font-size: 50px;
    margin-top: 1px;
    color: red;
    font-weight: 95%;
    font-family: 'Kaushan Script', cursive;
}


.item{
    width: 10%;
    height: 340px;
}

.sb-item{
    height: 123vh;
    margin-left: 3px;
    text-align: left;
    color: black;

}


.search{
    height: 19px;
    margin-left: 0;

}

.box1{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    width: 20px;
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-bottom: 20%;
    margin-left: 9%;
    margin-right: 9%;


}

.display{
    display: flex;
}

.margin{
    margin:40%;
    margin-top:0px;
    margin-bottom: 5%;
    margin-left: 25px;
    margin-right: 55px;
    height: 560px;
    background-color: white;
    color: black;
    width: 300px;
    border: 2px solid white;
    display: flex;


}



.tex-tittle{
    margin-bottom: 1px;
}

.a{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
    
}

.a:hover{
    color: rgba(41, 44, 206, 0.808);
    text-align: center;
}

.box{
    width: 300px;
}

.cart1{
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 4px;
    background-color:#2360dce3;
    font-size: large;
    color: white;
    border: 2 solid black;
}

.cart1:hover{
    text-align: center;
    justify-content: center;
    margin-left: 98px;
    margin-top: 4px;
    background-color:#FCD200;
    font-size: large;
    border: 2 solid black;
    color:white;
}
.cart2{
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 4px;
    background-color:#2360dce3;
    font-size: large;
    color: white;
    border: 2 solid black;
}

.cart2:hover{
    text-align: center;
    justify-content: center;
    margin-left: 98px;
    margin-top: 4px;
    background-color:#FCD200;
    font-size: large;
    border: 2 solid black;
    color:white;
}
.cart{
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 4px;
    background-color:#2360dce3;
    font-size: large;
    color: white;
    border: 2 solid black;
}

.cart:hover{
    text-align: center;
    justify-content: center;
    margin-left: 98px;
    margin-top: 4px;
    background-color:#2360dce3;
    font-size: large;
    border: 2 solid black;
    color:white;
}

.price{
    text-decoration: 
    line-through;
    color: #ccc;
    margin-right: 5px;
    font-size: 20px;
}

.div-price{
    font-size: 30px;
    margin-bottom: -30px;
    margin-top: -30px;
}

.text-img{
    padding-bottom: 0;
    padding: 0;
}

.div-row{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Three equal-width columns */
    grid-template-rows: repeat(3, 1fr); /* Three equal-height rows */
    gap: 10px; /* Gap between grid items */
    width: 370px; /* Set the width of the grid container */
    height: 550px; 
}
